<div class="search-form-style">
  <div class="search-form-style-heading">
    <a [routerLink]="['/search/card/women']" class="{{cardClass}}">Search Scorecard</a>
    <a [routerLink]="['/search/player/women']" class="{{playerClass}}">Search Player</a>
  </div>

  <form (ngSubmit)="find()" [formGroup]="cardForm">
    <div>
      <label for="homeTeam">Team:</label><input type="text" id="HomeTeam" formControlName="homeTeam"/>
      <span>
        <label for="ExactHomeTeamMatch">Exact Match?</label>
        <input type="checkbox" id="ExactHomeTeamMatch" value="true" [ngClass]="{'is-invalid': homeTeamMessage}">
        <div class="invalid-feedback">
          {{homeTeamMessage}}
        </div>
      </span>
    </div>
    <div>
      <label for="awayTeam">Against:</label><input type="text" id="AwayTeam" formControlName="awayTeam"/>
      <span>
        <label for="ExactAwayTeamMatch">Exact Match?</label>
        <input type="checkbox" id="ExactAwayTeamMatch" value="true" [ngClass]="{'is-invalid': awayTeamMessage}">
        <div class="invalid-feedback">
          {{awayTeamMessage}}
        </div>
      </span>
    </div>
    <div class="venue">
      <label>Venue</label>
      <span>
          <label for="homeVenue">
              <span>All</span>
              <input type="radio" name="venue" id="all" value="0" checked="checked" formControlName="venue">
          </label>
      </span>
      <span>
          <label for="homeVenue">
              <span>Home</span>
              <input type="radio" name="venue" id="homeVenue" value="1" formControlName="venue">
          </label>
      </span>
      <span>
          <label for="awayVenue">
              <span>Away</span>
              <input type="radio" name="venue" id="awayVenue" value="2" formControlName="venue">
          </label>
      </span>
      <span>
          <label for="neutralVenue">
              <span>Neutral</span>
              <input type="radio" name="venue" id="neutralVenue" value="4" formControlName="venue">
          </label>
      </span>
      <div>
        <label>Dates</label>
        <label for="startDate">Start</label><input id="StartDate" type="date" formControlName="startDate"/>
        <div class="invalid-feedback">
<!--          {{nameMessage}}-->
        </div>
        <label for="endDate">End</label><input id="EndDate" type="date" formControlName="endDate"/>
        <div class="invalid-feedback">
<!--          {{nameMessage}}-->
        </div>
      </div>
      <div>
        <label for="matchType">Match Type</label>

        <select name="matchType" id="matchType" formControlName="matchType">
          <option value="itt">International T20</option>
          <option value="tt">T20</option>
          <option value="witt">Women's International T20</option>
          <option value="wtt">Women's T20</option>
          <!--    <option value="wt">Women's Tests</option>-->
          <!--    <option value="wo">Women's ODI</option>-->
          <!--    <option value="wf">Women's FC</option>-->
          <!--    <option value="wa">Women's List A</option>-->
        </select>
      </div>
      <div>
        <div>
          <label for="matchResult">Result</label>
          <select id="matchResult" name="matchResult" formControlName="matchResult">
            <option value="0">All</option>
            <option value="1">Won</option>
            <option value="2">Won by Innings</option>
            <option value="3">Won by Runs</option>
            <option value="4">Won by Wickets</option>
            <option value="5">Lost</option>
            <option value="6">Lost by Innings</option>
            <option value="7">Lost by Runs</option>
            <option value="8">Lost by Wickets</option>
            <option value="9">Match Drawn</option>
            <option value="10">Tied</option>
            <option value="11">No Result</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!cardForm.valid">Search</button>
    </div>
  </form>
</div>

