@{
    Layout = "_Scorecard_Layout";
}
@using System.Text.Encodings.Web
@model Dictionary<int, List<string>>

<ul>
    @foreach (var decade in Model.Keys.Reverse())
    {
        <li>
            The @decade<text>s</text>
            <div>
                @{
                    var series = Model[decade];
                    foreach (var date in series)
                    {
                        <a href="/scorecard/byyear/@ViewBag.Type/@UrlEncoder.Default.Encode(date)">@date</a>
                    }
                }
            </div>
        </li>
    }
</ul>


@section Scripts
{
    <script>
    document.onload = () => {}
</script>
}

