@{
    ViewData["Title"] = "Records Home Page";
}

<ul>
    <li><a asp-controller="BattingRecords" asp-action="Index">Batting Records</a></li>
    <li><a asp-controller="BowlingRecords" asp-action="Index">Bowling Records</a></li>
    <li><a asp-controller="TeamRecords" asp-action="Index">Team Records</a></li>
    <li><a asp-controller="FieldingRecords" asp-action="Index">Fielding Records</a></li>
    <li><a asp-controller="PartnershipRecords" asp-action="Index">Partnership Records</a></li>
</ul>