<div class="header">
  <div class="{{battingClass}}">
    <a class="btn" [routerLink]="['/records/batting']">Batting</a>
  </div>
  <div class="{{bowlingClass}}">
    <a class="btn" [routerLink]="['/records/bowling']">Bowling</a>
  </div>
  <div class="{{fieldingClass}}">
    <a class="btn">Fielding</a>
  </div>
  <div class="{{teamClass}}">
    <a class="btn">Team</a>
  </div>
  <div class="{{partnershipClass}}">
    <a class="btn">Partnerships</a>
  </div>
  <div class="{{umpiresClass}}">
    <a class="btn">Umpires</a>
  </div>
</div>
