<h2>By Host Figures</h2>

<h3>{{(bowlingSummary$ | async)?.team}} v {{(bowlingSummary$ | async)?.opponents}}
  at {{(bowlingSummary$ | async)?.ground}}
  in {{(bowlingSummary$ | async)?.hostCountry}}
  at {{venue}}
  for {{(bowlingSummary$ | async)?.matchType}} </h3>


<table class="table table-striped table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th class="text-left">
      <a (click)="sort(importedSortOrder.name)" class="btn btn-link">Name
        <fa-icon *ngIf="importedSortOrder.name == sortOrder" [icon]="getSortClass(importedSortOrder.name)"></fa-icon></a>
    </th>
    <th>
      <a (click)="sort(importedSortOrder.team)" class="btn text-left">Team
        <fa-icon *ngIf="importedSortOrder.team == sortOrder" [icon]="getSortClass(importedSortOrder.team)"></fa-icon>
      </a>
    </th>
    <th>
      <a (click)="sort(importedSortOrder.hostCountry)" class="btn text-left">Country
        <fa-icon *ngIf="importedSortOrder.hostCountry == sortOrder"
                 [icon]="getSortClass(importedSortOrder.hostCountry)"></fa-icon>
      </a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.matches)" class="btn btn-link">M
        <fa-icon *ngIf="importedSortOrder.matches == sortOrder" [icon]="getSortClass(importedSortOrder.matches)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.innings)" class="btn btn-link">I
        <fa-icon *ngIf="importedSortOrder.innings == sortOrder" [icon]="getSortClass(importedSortOrder.innings)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.balls)" class="btn btn-link">Balls
        <fa-icon *ngIf="importedSortOrder.balls == sortOrder" [icon]="getSortClass(importedSortOrder.balls)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.maidens)" class="btn btn-link">Maidens
        <fa-icon *ngIf="importedSortOrder.maidens == sortOrder" [icon]="getSortClass(importedSortOrder.maidens)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.runs)" class="btn btn-link">Runs
        <fa-icon *ngIf="importedSortOrder.runs == sortOrder" [icon]="getSortClass(importedSortOrder.runs)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.wickets)" class="btn btn-link">Wickets
        <fa-icon *ngIf="importedSortOrder.wickets == sortOrder" [icon]="getSortClass(importedSortOrder.wickets)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.avg)" class="btn btn-link">Avg
        <fa-icon *ngIf="importedSortOrder.avg == sortOrder" [icon]="getSortClass(importedSortOrder.avg)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.bbi)" class="btn btn-link">BBI
        <fa-icon *ngIf="importedSortOrder.bbi == sortOrder" [icon]="getSortClass(importedSortOrder.bbi)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.bbm)" class="btn btn-link">BBM
        <fa-icon *ngIf="importedSortOrder.bbm == sortOrder" [icon]="getSortClass(importedSortOrder.bbm)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.econ)" class="btn btn-link">Econ
        <fa-icon *ngIf="importedSortOrder.econ == sortOrder" [icon]="getSortClass(importedSortOrder.econ)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.strikeRate)" class="btn btn-link">SR
        <fa-icon *ngIf="importedSortOrder.strikeRate == sortOrder" [icon]="getSortClass(importedSortOrder.strikeRate)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.fivefor)" class="btn btn-link">5wi
        <fa-icon *ngIf="importedSortOrder.fivefor == sortOrder" [icon]="getSortClass(importedSortOrder.fivefor)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.tenfor)" class="btn btn-link">10wm
        <fa-icon *ngIf="importedSortOrder.tenfor == sortOrder" [icon]="getSortClass(importedSortOrder.tenfor)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.fours)" class="btn btn-link">4s
        <fa-icon *ngIf="importedSortOrder.fours == sortOrder" [icon]="getSortClass(importedSortOrder.fours)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.sixes)" class="btn btn-link">6s
        <fa-icon *ngIf="importedSortOrder.sixes == sortOrder" [icon]="getSortClass(importedSortOrder.sixes)"></fa-icon></a>
    </th>
    <th class="text-right">
      <a (click)="sort(importedSortOrder.battingImpact)" class="me-1 btn btn-link" cTooltip="Bowling Impact" cTooltipPlacement="top" >BI
        <fa-icon *ngIf="importedSortOrder.battingImpact == sortOrder"
                 [icon]="getSortClass(importedSortOrder.battingImpact)"></fa-icon>
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of (bowlingStore$ | async)?.sqlResults?.data">
    <td class="text-left" nowrap="nowrap">{{row.name}}</td>
    <td class="text-left" nowrap="nowrap">
          <span class="text-left ellipsed-cell me-1" [cPopoverTrigger]="'hover'" cPopover="{{row.team}}"
                cPopoverPlacement="top">{{row.team}}</span>
    </td>
    <td class="text-left maxWidth10" nowrap="nowrap">
      <span class="text-left maxWidth10" style="display: inline-block">{{row.countryName}}</span>
    </td>
    <td class="text-right" nowrap="nowrap">{{row.matches}}</td>
    <td class="text-right" nowrap="nowrap">{{row.innings == null ? "-" : row.innings}}</td>
    <td class="text-right" nowrap="nowrap">{{row.balls}}</td>
    <td class="text-right" nowrap="nowrap">{{row.maidens}}</td>
    <td class="text-right" nowrap="nowrap">{{row.runs}}</td>
    <td class="text-right" nowrap="nowrap">{{row.wickets}}</td>
    <td class="text-right" nowrap="nowrap">{{(row.avg).toFixed(2)}}</td>
    <td class="text-right" nowrap="nowrap">{{getBb(row.bbiw, row.bbir)}}</td>
    <td class="text-right" nowrap="nowrap">{{getBb(row.bbmw, row.bbmr)}}</td>
    <td class="text-right" nowrap="nowrap">{{getEcon(row.runs, row.balls)}}</td>
    <td class="text-right" nowrap="nowrap">{{row.sr.toFixed(2)}}</td>
    <td class="text-right" nowrap="nowrap">{{row.fiveFor}}</td>
    <td class="text-right" nowrap="nowrap">{{row.tenFor}}</td>
    <td class="text-right" nowrap="nowrap">{{row.fours}}</td>
    <td class="text-right" nowrap="nowrap">{{row.sixes}}</td>
    <td class="text-right" nowrap="nowrap">{{row.bi.toFixed(2)}}</td>
  </tr>
  </tbody>
</table>

<app-paging [pageSize]="pageSize" [totalItems]="count" [currentPage]="currentPage" (first)="navigate(0)"
            (previous)="navigate($event)" (next)="navigate($event)" (last)="navigate($event)"
            (goto)="navigate($event)"></app-paging>
