<div *ngIf="loading" class="loading-container flex flex-content-center">
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="50" cy="50" r="45"></circle>
  </svg>
</div>

<app-header></app-header>
<app-nav-menu></app-nav-menu>
<main role="main" class="pb-3">
  <div class="scorecard-container">
    <div class="sidebar">

    </div>
    <div class="scorecard-main">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
