@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li style="list-style-type:none;"><a asp-controller="RecordsHome">Records Home</a></li>
        <li style="list-style-type:none;"><a href="scorecard/bydecade/women">Archive</a></li>
        <li style="list-style-type:none;"><a href="scorecard/search/women">Search For Women's Scorecard</a></li>
    </ul>
</div>
