<div id="batting-record-select" [formGroup]="parentFormGroup">
  <select name="matchType" id="matchType" formControlName="matchType">
    <option value="itt">International T20</option>
    <option value="tt">T20</option>
    <option value="witt">Women's International T20</option>
    <option value="wtt">Women's T20</option>
<!--    <option value="wt">Women's Tests</option>-->
<!--    <option value="wo">Women's ODI</option>-->
<!--    <option value="wf">Women's FC</option>-->
<!--    <option value="wa">Women's List A</option>-->
  </select>
</div>
<div [formGroup]="parentFormGroup" id="pageSizeContainer">
  Page Size:
  <select name="pageSize" id="pageSize" formControlName="pageSize">
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="200">200</option>
  </select>
</div>
