<section id="bowling">
  <ng-container *ngFor="let matchType of listOfSortedMatchType">
    <ng-container *ngIf="(playerBowlingOverall$ | async) as  playerBowlingOverall">
      <section *ngIf="(playerBowlingOverall[matchType] != null)">
        <table>
          <thead>
          <tr>
            <td class="teamname"></td>
            <td class="opponents"></td>
            <td class="ground"></td>
            <td class="startDate"></td>
            <td class="overs">Overs</td>
            <td class="maidens">Maidens (Dots)</td>
            <td class="bowlRuns">Runs</td>
            <td class="wickets">Wickets</td>
            <td class="wides">Wides</td>
            <td class="noBalls">No Balls</td>
            <td class="bowlFours">Fours</td>
            <td class="bowlSixes">Sixes</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of playerBowlingOverall[matchType]" [ngClass]="getRowClass(row.id,row.matchType)">
            <td class="teamname">{{getStringValueOrEmpty(row.id, row.team)}}</td>
            <td class="opponents">{{getStringValueOrEmpty(row.id, row.opponents)}}</td>
            <td class="ground">{{getStringValueOrEmpty(row.id, row.ground)}}</td>
            <td class="startDate">{{getStringValueOrEmpty(row.id, row.matchStartDate)}}</td>
            <td class="overs">{{caluclateOvers(row.balls, row.ballsPerOver)}}</td>
            <td class="maidens">{{row.maidens}} {{getDots(row.dots)}}</td>
            <td class="bowlRuns">{{row.runs}}</td>
            <td class="wickets">{{row.wickets}}</td>
            <td class="wides">{{row.wides}}</td>
            <td class="noBalls">{{row.noBalls}}</td>
            <td class="bowlFours">{{row.fours}}</td>
            <td class="bowlSixes">{{row.sixes}}</td>
            {{setPreviousMatchId(row.id)}}
          </tr>
          </tbody>
        </table>
      </section>
    </ng-container>
  </ng-container>
</section>
