<div class="row mb-1 mt-2 mt-3 acs-form-row">
    <div class="col-2">
        <select name="matchType" id="matchType">
            <option value="t">Men's Tests</option>
            @* <option value="o">Men's ODI</option> *@
            @* <option value="itt">Men's International T20</option> *@
            <option value="f">Men's FC</option>
            @* <option value="a">Men's List A</option> *@
            @* <option value="tt">Men's T20</option> *@
            <option value="wt">Women's Tests</option>
            <option value="wo">Women's ODI</option>
            <option value="witt">Women's International T20</option>
            <option value="wf">Women's FC</option>
            <option value="wa">Women's List A</option>
            <option value="wtt">Women's T20</option>
        </select>
    </div>
    <div class="col-10">&nbsp;</div>
</div>
