@model AcsDto.Models.MatchSearchModel

<div class="scorecard-container">
    <div class="sidebar">
    </div>
    <div class="scorecard-main">
        <div class="search-form-style">
            <div class="search-form-style-heading">Search</div>

            <form action="/scorecard/search/women" method="post">
                <div>
                    <label for="homeTeam">Team:</label><input type="text" asp-for="HomeTeam"/>
                    <span>
                        <label for="ExactHomeTeamMatch">Exact Match?</label>
                        <input type="checkbox" asp-for="ExactHomeTeamMatch" value="true">
                        <span asp-validation-for="HomeTeam"></span>
                    </span>
                </div>
                <div>
                    <label for="awayTeam">Against:</label><input type="text" asp-for="AwayTeam"/>
                    <span>
                        <label for="ExactAwayTeamMatch">Exact Match?</label>
                        <input type="checkbox" asp-for="ExactAwayTeamMatch" value="true">
                        <span asp-validation-for="AwayTeam"></span>
                    </span>
                </div>
                <div class="venue">
                    <label>Venue</label>
                    <span>
                        <label for="homeVenue">
                            <span>All</span>
                            <input type="radio" name="venue" id="all" value="0" checked="checked">
                        </label>
                    </span>
                    <span>
                        <label for="homeVenue">
                            <span>Home</span>
                            <input type="radio" name="venue" id="homeVenue" value="1">
                        </label>
                    </span>
                    <span>
                        <label for="awayVenue">
                            <span>Away</span>
                            <input type="radio" name="venue" id="awayVenue" value="2">
                        </label>
                    </span>
                    <span>
                        <label for="neutralVenue">
                            <span>Neutral</span>
                            <input type="radio" name="venue" id="neutralVenue" value="4">
                        </label>
                    </span>
                    <div>
                        <label>Dates</label>
                        <label for="startDate">Start</label><input asp-for="StartDate" type="date"/>
                        <span asp-validation-for="StartDate"></span>
                        <label for="endDate">End</label><input asp-for="EndDate" type="date"/>
                        <span asp-validation-for="EndDate"></span>
                    </div>
                    <div>
                        <label for="matchType">Match Type</label>

                        <select id="matchType" name="matchType">
                            @if (ViewData["type"] != null && ViewData["type"].Equals("women"))
                            {
                                <option value="wt">Test</option>
                                <option value="wf">First Class</option>
                                <option value="wo">One Day International</option>
                                <option value="wa">List A</option>
                                <option value="wtt">T20</option>
                                <option value="witt">International T20</option>
                            }
                            else if (ViewData["type"] != null && ViewData["type"].Equals("men"))
                            {
                                <option value="t">Test</option>
                                <option value="f">First Class</option>
                                <option value="o">One Day International</option>
                                <option value="a">List A</option>
                                <option value="tt">T20</option>
                                <option value="itt">International T20</option>
                            }
                        </select>
                    </div>
                    <div>
                        <div>
                            <label for="matchResult">Result</label>
                            <select id="matchResult" name="matchResult">
                                <option value="0">All</option>
                                <option value="1">Won</option>
                                <option value="2">Won by Innings</option>
                                <option value="3">Won by Runs</option>
                                <option value="4">Won by Wickets</option>
                                <option value="5">Lost</option>
                                <option value="6">Lost by Innings</option>
                                <option value="7">Lost by Runs</option>
                                <option value="8">Lost by Wickets</option>
                                <option value="9">Match Drawn</option>
                                <option value="10">Tied</option>
                                <option value="11">No Result</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="sidebar">
    </div>
</div>

@section Scripts
{
    <script>
    
</script>
}