@{
    Layout = "_Scorecard_Layout";
}
@using System.Text.Encodings.Web
@model List<string>

<ul>
    @foreach (var tournament in Model)
    {
        <li>
            <a href="/scorecard/tournament/@UrlEncoder.Default.Encode(tournament)">@tournament</a>
        </li>
    }
</ul>


@section Scripts
{
    <script>
    document.onload = () => {}
</script>
}