<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow bg-brand-green-700">
    <div class="container">
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-start"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/news']">News</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/records']">Records</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/resources']">Resources</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/shop']">Shop</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/members']">Members</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
