.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-sm {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.py-6 {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.mr-6 {
  margin-right: 2.5rem;
}

.max-w-none {
  max-width: none;
}

.max-w-page {
  max-width: 1360px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.w-container {
  width: 90%;
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
}

.ml-auto {
  margin-left: auto;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 6rem;
}

.opacity-50 {
  opacity: .5;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.border-l {
  border-left-width: 1px;
}

.border-transparent {
  border-color: transparent;
}

.border-b {
  border-bottom-width: 1px;
}

.block {
  display: block;
}

@media (min-width: 460px) {
  .xs\:w-44 {
    width: 11rem;
  }
}

.font-normal {
  font-weight: 400;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.w-36 {
  width: 15rem;
}

.block {
  display: block;
}

.line-height {
  line-height: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, button {
  color: inherit;
}

a, button {
  color: inherit;
}

a {
  text-decoration: inherit;
}

header {
  --tw-bg-opacity: 1;
  background-color: rgba(33, 97, 42, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
}

header > div {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 90%;
  max-width: 1360px;
  display: flex;
}

#homepage-link {
  display: flex;
}


#homepage-link img, #homepage-link span, #homepage-link strong{
  display: block;
}
#homepage-link img {
  max-width: none;
  height: 4rem;
}

#homepage-link span {
  border-left-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  opacity: .5;
  margin-left: 1rem;
  margin-right: 1rem;
}

#homepage-link strong {
  align-self: center;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 11rem;
  /*width: 11rem;*/
  line-height: 1.5rem;
}

header > div > nav {
  /* self-start ml-auto md:block */
  align-self: flex-start;
  margin-left: auto;
  display: block;
}

header > div > nav > ul {
  display: flex;
  flex-wrap: wrap!important;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header > div > nav > ul > li {
  margin-right: 1.5rem;
}

header > div > nav > ul > li:last-child {
  margin-right: 0;
}

header > div > nav > ul > li > a {
  /* border-b border-transparent hover:border-inherit */
  border-bottom-width: 1px;
  border-color: transparent;
}

header > div > nav > ul > li > a:hover {
  border-color: inherit;
}
