<header>
  <div>
    <a id="homepage-link" href="/">
      <img src="assets/logo.png" alt="The ACS">
      <span aria-hidden="true"></span>
      <strong>The Association of Cricket
        Statisticians and Historians</strong>
    </a>
    <nav aria-label="Secondary menu">
      <ul class="">
        <li>
          <a href="/">Members</a>
        </li>
        <li>
          <a href="/">FAQs</a>
        </li>
        <li>
          <a href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
