<div class="header">
  <div class="{{battingClass}} headerItem">
    <a class="btn" [routerLink]="['/records/batting']">Batting</a>
  </div>
  <div class="{{bowlingClass}} headerItem">
    <a class="btn" [routerLink]="['/records/bowling']">Bowling</a>
  </div>
  <div class="{{fieldingClass}} headerItem">
    <a class="btn">Fielding</a>
  </div>
  <div class="{{teamClass}} headerItem">
    <a class="btn">Team</a>
  </div>
  <div class="{{partnershipClass}} headerItem">
    <a class="btn">Partnerships</a>
  </div>
  <div class="{{umpiresClass}} headerItem">
    <a class="btn">Umpires</a>
  </div>
</div>
